body{
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  width: 500px;
  margin: 60px auto;
  padding: 25px;
  background: #2a2a2a;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  color: white;
  text-align: center;
}

h2 {
  color: #ffcc00;
  margin-bottom: 25px;
}

label {
  display: block;
  text-align: left;
  margin: 12px 0 5px 20px;
  font-weight: bold;
}

input, select {
  width: calc(100% - 40px);
  margin: 0 20px 10px 20px;
  display: block;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #1e1e1e;
  color: white;
  font-size: 14px;
  box-sizing: border-box;
}

button {
  width: calc(100% - 40px);
  margin: 15px 20px;
  display: block;
  background-color: #ffcc00;
  color: black;
  font-weight: bold;
  padding: 12px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}

button:hover {
  background-color: #ffd633;
}

a.back-link {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #ffcc00;
  text-decoration: none;
}

a.back-link:hover {
  text-decoration: underline;
}